= form_tag search_path, method: :get, remote: true do
  = text_field_tag :search_text, params[:search_text]
  = select_tag :search_object, options_for_select(SphinxSearch::SEARCH_OBJECTS, params[:search_object])
  = submit_tag 'Search'
