<p id="answer-id-{{answer.id}}">{{answer.body}}</p>
<div class="answer-links">
    <p>Links: </p>
    <ul>
        {{#each links}}
            <li class="link-id-4"><a href="{{this.url}}">{{this.name}}</a></li>
        {{/each}}
    </ul>
</div>
